@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="mb-4"><i class="bi bi-mortarboard-fill me-2"></i>Welcome to the Classroom Reservation System</h2>
    <p class="lead"><i class="bi bi-info-circle me-2"></i>This platform allows instructors to request classroom reservations and admins to manage the process efficiently.</p>
</div>
